<!-- MAIN GRID -->
<div class="space-y-6 p-4 sm:p-6 lg:p-8" *ngFor="let applicant of applicantSummary()">

  <!-- ROW 1 -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Project Information -->
    <div class="bg-white rounded-xl border border-gray-200 shadow-sm">
      <div class="px-6 py-4 text-xl font-medium text-gray-900">
        Project Information
      </div>

      <div class="px-6 space-y-3 text-sm py-4">

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Project Name:</span>
          <span class="font-medium text-gray-900">{{ applicant.projectName }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Category:</span>
          <span class="inline-flex border bg-gray-100 px-2 py-0.5 rounded-full text-xs">{{ applicant.projectCategory
            }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">NOC Type:</span>
          <span class="font-medium text-gray-900">{{ applicant.nocType }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Project Status:</span>
          <span class="font-medium text-gray-900">{{ applicant.projectStatus }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">No. of Flats:</span>
          <span class="font-medium text-gray-900">{{ applicant.noOfFlats }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Design Population:</span>
          <span class="font-medium text-gray-900">{{ applicant.designPopulation }}</span>
        </div>

      </div>
    </div>

    <!-- Location -->
    <div class="bg-white rounded-xl border border-gray-200 shadow-sm">
      <div class="px-6 py-4 text-xl font-medium text-gray-900">
        Location Details
      </div>

      <div class="px-6 space-y-3 text-sm py-4">

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">District:</span>
          <span class="font-medium text-gray-900">{{ applicant.district }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Mandal:</span>
          <span class="font-medium text-gray-900">{{ applicant.mandal }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Village:</span>
          <span class="font-medium text-gray-900">{{ applicant.villageTown }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Survey Numbers:</span>
          <span class="font-medium text-gray-900">{{ applicant.surveyNumbers }}</span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Assessment Category:</span>
          <span class="inline-flex border bg-orange-100 text-orange-700 px-2 py-0.5 rounded-full text-xs" [ngClass]="{
            'bg-green-300 text-green-700': applicant.assessmentCategory === 'SAFE',
          }">
            {{ applicant.assessmentCategory}}
          </span>
        </div>

        <div class="flex flex-col sm:flex-row sm:justify-between gap-1">
          <span class="text-gray-500">Watershed:</span>
          <span class="font-medium text-gray-900">{{ applicant.watershed }} ---</span>
        </div>

      </div>
    </div>

  </div>

  <!-- ROW 2 TABLE -->
  <div class="bg-white rounded-xl border border-gray-200 shadow-sm">

    <div class="px-6 py-4 text-xl font-medium text-gray-900">
      Groundwater Requirement
    </div>

    <div class="overflow-x-auto">
      <table class="w-full text-sm">
        <thead class="font-medium border border-gray-300 bg-gray-50">
          <tr>
            <th class="text-left p-3">Type</th>
            <th class="text-right p-3">Daily (m³/day)</th>
            <th class="text-right p-3">Annual (m³/year)</th>
          </tr>
        </thead>

        <tbody>
          <tr class="border border-gray-300" *ngFor="let row of groundwaterRequirement">
            <td class="p-3 font-medium">{{ row.type }}</td>

            <!-- Daily -->
            <td class="p-3 text-right">
              {{
              row.type === 'Fresh Groundwater'
              ? applicant?.freshWaterDaily
              : row.freshWaterDaily
              }}
            </td>

            <!-- Annual -->
            <td class="p-3 text-right">
              {{
              row.type === 'Fresh Groundwater'
              ? applicant?.freshWaterAnnual
              : row.freshWaterAnnual
              }}
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>

  <!-- ROW 3 -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Extraction -->
    <div class="bg-white rounded-xl border border-gray-200 shadow-sm">
      <div class="px-6 py-4 text-xl font-medium text-gray-900">
        Extraction Structures ({{ extractionStructures.length }})
      </div>

      <div class="px-6 space-y-3 py-4">
        <div *ngFor="let s of extractionStructures"
          class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-2 pb-3 last:border-0">

          <div>
            <p class="font-medium text-gray-900">{{ s.type }}</p>
            <p class="text-sm text-gray-500">{{ s.specs }}</p>
          </div>

          <span class="bg-blue-50 text-blue-600 border border-blue-200 px-2 py-0.5 rounded-full text-xs w-fit">
            {{ s.badge }}
          </span>

        </div>
      </div>
    </div>

    <!-- Recharge -->
    <div class="bg-white rounded-xl border border-gray-200 shadow-sm">
      <div class="px-6 py-4 text-xl font-medium text-gray-900">
        Recharge Structures ({{ rechargeData.structures.length }})
      </div>

      <div class="px-6 space-y-3 py-4">

        <div *ngFor="let s of rechargeData.structures"
          class="flex flex-col sm:flex-row sm:justify-between gap-2 border-b border-gray-300 pb-3 last:border-0">

          <div>
            <p class="font-medium text-gray-900">{{ s.type }}</p>
            <p class="text-sm text-gray-500">{{ s.specs }}</p>
          </div>

          <span class="bg-green-50 text-green-600 border border-green-200 px-2 py-3 rounded-full text-xs w-fit">
            {{ s.badge }}
          </span>

        </div>

        <div class="mt-4 pt-4">
          <p class="text-xs text-gray-500">Piezometers:</p>
          <p class="text-xs text-gray-500">{{ rechargeData.piezometers }}</p>
        </div>

      </div>
    </div>

  </div>

</div>