<div class="bg-slate-50">

  <!-- HEADER -->


  <!-- CONTENT -->
  <div class="max-w-7xl mx-auto px-6 py-5">

    <!-- Welcome -->
    <h2 class="text-3xl font-medium text-gray-900 mb-2">
      Welcome Back!
    </h2>
    <p class="text-gray-600 mb-5">
      Manage your applications, grievances, and documents
    </p>

    <!-- Search -->
    <div class="max-w-3xl mb-5 relative">
      <i class="bi bi-search absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"></i>
      <input type="text" [(ngModel)]="searchText" placeholder="Search applications, grievances, or documents..." class="w-full pl-12 pr-4 py-4 rounded-xl border border-gray-300 shadow-sm
               " />
    </div>

    <!-- ACTION CARDS -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

      <div *ngFor="let action of actions" [routerLink]="action.routerLink" class="bg-white rounded-2xl border border-gray-200 p-6 shadow-sm
               hover:shadow-md transition cursor-pointer">

        <div class="w-14 h-14 rounded-xl flex items-center justify-center mb-6 text-white" [ngClass]="action.bg">
          <i class="bi {{ action.icon }} text-2xl"></i>
        </div>

        <h3 class="text-lg font-medium text-gray-900 mb-4">
          {{ action.title }}
        </h3>

        <div class="text-blue-600 flex items-center gap-2 font-medium">
          <!-- <span>Explore</span> -->
          <i class="bi bi-arrow-right"></i>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="max-w-7xl mx-auto px-6 py-1 grid grid-cols-1 lg:grid-cols-3 gap-8">

  <!-- MY APPLICATIONS -->
  <div class="lg:col-span-2 bg-white rounded-2xl border border-gray-200 p-6 shadow-sm">

    <!-- Header -->
    <div class="flex items-center justify-between mb-6">
      <div>
        <h2 class="text-xl font-medium
         text-gray-900">My Applications</h2>
        <p class="text-sm text-gray-500">
          Track your NOC and well registration applications
        </p>
      </div>

      <a class="text-blue-600 font-medium cursor-pointer hover:underline" (click)="toggleViewAll()">
        {{ showAllApplications ? 'View Less' : 'View All' }}
      </a>

    </div>

    <!-- Application List -->
    <div class="space-y-4 transition-all duration-300"
      [ngClass]="showAllApplications ? 'max-h-105 overflow-y-auto pr-2' : ''">

      <div *ngFor="let app of visibleApplications()"
        class="bg-gray-50 rounded-xl p-5 flex items-start justify-between cursor-pointer hover:bg-gray-100 transition-colors"
        (click)="openApplication(app)">

        <!-- Left -->
        <div>
          <h3 class="font-medium text-gray-900">
            {{ app.title }}
          </h3>
          <!-- <p class="text-sm text-gray-500 mb-2">
            {{ app.id }}
          </p> -->

          <div class="text-sm text-gray-600 flex flex-wrap gap-4">
            <span>Submitted: {{ app.createdAt | date: 'dd/mm/yyyy'}}</span>
            <span>Stage: {{ app.stage }}</span>
          </div>
        </div>

        <!-- Status -->
        <div class="px-3 py-1 rounded-full text-sm font-medium" [ngClass]="{
          'bg-green-100 text-green-500 ': app.status === 'Registered',
          'bg-orange-100 text-orange-500 ': app.status === 'UnderReview',
          'bg-red-100 text-red-500 ': app.status === 'Draft'
        }">
          {{ app.status }}
        </div>

      </div>
    </div>


    <!-- Footer -->
    <div class="mt-6">
      <button class="w-full py-3 rounded-xl border border-gray-300 text-gray-700 cursor-pointer
         font-medium hover:bg-gray-100 flex items-center justify-center gap-2" (click)="toggleViewAll()">

        {{ showAllApplications ? 'View Less Applications' : 'View All Applications' }}

        <i class="bi" [ngClass]="showAllApplications ? 'bi-chevron-up' : 'bi-chevron-right'"></i>

      </button>
    </div>

  </div>

  <!-- NOTIFICATIONS -->
  <div class="bg-white rounded-2xl border border-gray-200 p-6 shadow-sm">

    <h2 class="text-xl font-medium text-gray-900 mb-6">
      Notifications
    </h2>

    <div class="space-y-4">

      <div *ngFor="let note of notifications" class="bg-gray-50 rounded-xl p-4">

        <p class="text-sm text-gray-900">
          {{ note.message }}
        </p>
        <p class="text-xs text-gray-500 mt-1">
          {{ note.time }}
        </p>

      </div>

    </div>

    <div class="mt-6 text-center">
      <a class="text-blue-600 font-medium cursor-pointer hover:underline ">
        View All Notifications
      </a>
    </div>

  </div>

</div>

<div class="max-w-7xl mx-auto px-6 py-5 grid grid-cols-1 lg:grid-cols-3 gap-8">

  <!-- MY GRIEVANCES -->
  <div class="lg:col-span-2 bg-white rounded-2xl border border-gray-200 p-6 shadow-sm">

    <!-- Header -->
    <div class="flex items-center justify-between mb-6">
      <div>
        <h2 class="text-xl font-medium text-gray-900">My Grievances</h2>
        <p class="text-sm text-gray-500">
          Track your submitted complaints and issues
        </p>
      </div>
      <a class="text-blue-600 font-medium cursor-pointer hover:underline" (click)="grievanceViewAll()">
        {{ showAllGrievances ? 'View Less' : 'View All' }}
      </a>
    </div>

    <!-- Grievance List -->
    <div class="space-y-4 transition-all duration-300"
      [ngClass]="showAllGrievances ? 'max-h-105 overflow-y-auto pr-2' : ''">

      <div *ngFor="let g of visibleGrievances()" class="bg-gray-50 rounded-xl p-5 flex items-start justify-between">

        <div>
          <h3 class="font-medium text-gray-900">
            {{ g.complainantName }}
          </h3>
          <p class="text-sm text-gray-500 mb-2">
            {{ g.ticketNumber }}
          </p>
          <p class="text-sm text-gray-600">
            Submitted: {{ g.createdAt | date: 'dd/mm/yyyy'}}
          </p>
        </div>

        <div class="px-3 py-1 rounded-full border border-gray-300 text-sm font-medium">
          {{ g.status }}
        </div>

      </div>

    </div>

    <!-- CTA -->
    <button class="w-full py-3 rounded-xl bg-blue-600 text-white font-medium cursor-pointer
             hover:bg-blue-700 flex items-center justify-center gap-2" routerLink="/submit-greviance">
      <i class="bi bi-chat-dots"></i>
      Submit New Grievance
    </button>

  </div>

  <!-- RIGHT COLUMN -->
  <div class="space-y-8">

    <!-- RECENT DOCUMENTS -->
    <div class="bg-white rounded-2xl border border-gray-200 p-6 shadow-sm">

      <h2 class="text-xl font-medium text-gray-900 mb-6">
        Recent Documents
      </h2>

      <div class="space-y-4" [ngClass]="showAllDocuments ? 'max-h-80 overflow-y-auto pr-2' : ''">

        <div *ngFor="let doc of visibleDocuments()" class="flex items-start justify-between">

          <div class="flex items-start gap-3">
            <i class="bi bi-file-earmark-text text-gray-400 text-xl"></i>
            <div>
              <p class="font-medium text-gray-900">
                {{ doc.name }}
              </p>
              <p class="text-sm text-gray-500">
                Uploaded {{ doc.createdAt | date:'dd/MM/yyyy' }}
              </p>
            </div>
          </div>

          <i class="bi bi-download text-blue-600 cursor-pointer" (click)="downloadDocument(doc)"></i>
        </div>

      </div>

      <div class="mt-6 text-center">
        <button class="text-blue-600 font-medium hover:underline cursor-pointer" (click)="documentViewAll()">
          {{ showAllDocuments ? ' View less Documents' : ' View All Documents' }}

          <i class="bi" [ngClass]="showAllDocuments ? 'bi-chevron-up' : 'bi-chevron-right'"></i>
        </button>
      </div>

    </div>

    <!-- NEED HELP -->
    <div class="bg-blue-50 rounded-2xl border border-blue-200 p-6">

      <h3 class="text-lg font-medium text-gray-900 mb-2">
        Need Help?
      </h3>
      <p class="text-sm text-gray-600 mb-4">
        Contact us for assistance with your applications
      </p>

      <div class="space-y-3 text-sm">
        <div class="flex items-center gap-2">
          <i class="bi bi-telephone text-blue-600"></i>
          040-23111111
        </div>
        <div class="flex items-center gap-2">
          <i class="bi bi-envelope text-blue-600"></i>
          support@tggroundwater.gov.in
        </div>
      </div>

    </div>

  </div>
</div>