<div class="min-h-screen bg-gray-50">

    <header class="bg-white border-b border-gray-200 sticky shadow-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 py-4 sm:h-16">

                <!-- Logo -->
                <div class="flex items-center gap-3">
                    <div
                        class="w-10 h-10 bg-gradient-to-br from-blue-600 to-cyan-600 rounded-lg flex items-center justify-center">
                        <i class="bi bi-droplet text-white"></i>
                    </div>
                    <div>
                        <h1 class="text-xl font-bold text-gray-900">New Registration</h1>
                        <p class="text-xs text-gray-600">TG-GWRMS registration</p>
                    </div>
                </div>

                <!-- Actions -->
                <div class="flex flex-col sm:flex-row sm:items-center gap-3 sm:gap-4 text-sm">
                    <button class="border border-gray-200 rounded-lg px-3 py-2">
                        <i class="bi bi-house"></i> Home
                    </button>
                    <div routerLink="/login/login-screen" class="text-blue-700 cursor-pointer text-center sm:text-left text-xl">
                        Already have an account? Login
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Title -->
    <div class="text-center mb-10 mt-10">
        <h1 class="text-3xl font-semibold">Create Your Account</h1>
        <p class="text-gray-500 mt-2">
            Register to access TG-GWRMS services and track your applications
        </p>
    </div>

    <!-- Stepper -->
    <div class="flex justify-center mb-10 px-4">
        <div class="flex flex-col sm:flex-row items-start sm:items-center gap-6 sm:gap-10">

            <!-- STEP -->
            <ng-container *ngFor="let step of [1,2,3]; let i = index">
                <div class="flex items-center gap-2">
                    <div class="w-10 h-10 rounded-full flex items-center justify-center" [ngClass]="{
            'bg-green-500 text-white': currentStep > step,
            'bg-blue-600 text-white': currentStep === step,
            'border border-gray-300 text-gray-500': currentStep < step
          }">
                        <i class="bi" [ngClass]="currentStep > step 
               ? 'bi-check-lg' 
               : step === 1 ? 'bi-person' : step === 2 ? 'bi-credit-card' : 'bi-geo-alt'">
                        </i>
                    </div>

                    <span class="text-sm font-medium">
                        {{ step === 1 ? 'Personal Details' : step === 2 ? 'Identity' : 'Address' }}
                    </span>
                </div>

                <!-- Divider -->
                <div *ngIf="step !== 3" class="hidden sm:block w-16 h-0.5 bg-gray-300"></div>
            </ng-container>

        </div>
    </div>

    <!-- Card -->
    <div class="max-w-3xl mx-auto bg-white rounded-2xl shadow p-8">

        <!-- STEP 1 -->
        <form *ngIf="currentStep === 1" [formGroup]="personalForm">

            <!-- Title -->
            <h2 class="text-2xl font-semibold text-gray-900">Personal Details</h2>
            <p class="text-sm text-gray-500 mb-8">Step 1 of 3</p>

            <!-- Full Name -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                <div class="mb-6">
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Full Name <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="fullName" class="w-full rounded-xl border border-gray-300 px-4 py-3
             text-gray-900 bg-white
             focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-500"
                        *ngIf="personalForm.get('fullName')?.touched && personalForm.get('fullName')?.errors">
                        <span *ngIf="personalForm.get('fullName')?.hasError('required')">
                            Full Name is required
                        </span>
                        <span *ngIf="personalForm.get('fullName')?.hasError('minlength')">
                            Minimum 3 characters required
                        </span>
                        <span *ngIf="personalForm.get('fullName')?.hasError('maxlength')">
                            Maximum 50 characters allowed
                        </span>
                    </p>

                </div>
                <div class="mb-6">
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Father's Name <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="fatherName" class="w-full rounded-xl border border-gray-300 px-4 py-3
             text-gray-900 bg-white
             focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-500"
                        *ngIf="personalForm.get('fatherName')?.touched && personalForm.get('fatherName')?.errors">
                        <span *ngIf="personalForm.get('fatherName')?.hasError('required')">
                            Father’s Name is required
                        </span>
                        <span *ngIf="personalForm.get('fatherName')?.hasError('minlength')">
                            Minimum 3 characters required
                        </span>
                        <span *ngIf="personalForm.get('fatherName')?.hasError('maxlength')">
                            Maximum 50 characters allowed
                        </span>
                    </p>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">
                    Gender <span class="text-red-500">*</span>
                </label>
                <div class="relative">
                    <select formControlName="gender" class="w-full appearance-none rounded-xl border border-gray-300 bg-white px-4 py-3
                 pr-10 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                        <option value="">Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                    <i class="bi bi-chevron-down absolute right-4 top-1/2 -translate-y-1/2 text-gray-500"></i>
                    <p class="error text-red-500"
                        *ngIf="personalForm.get('gender')?.touched && personalForm.get('gender')?.hasError('required')">
                        Gender is required
                    </p>
                </div>
            </div>
            <!-- Mobile + Email -->
            <div class="grid grid-cols-1 mt-10 md:grid-cols-2 gap-6">

                <!-- Mobile -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Mobile Number <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="mobile" maxlength="10" inputmode="numeric" pattern="[0-9]*"
                        class="input" (keypress)="allowOnlyNumbers($event)" class="w-full rounded-xl border border-gray-300 px-4 py-3
               text-gray-900 bg-white
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-500"
                        *ngIf="personalForm.get('mobile')?.touched && personalForm.get('mobile')?.errors">
                        <span *ngIf="personalForm.get('mobile')?.hasError('required')">
                            Mobile number is required
                        </span>
                        <span *ngIf="personalForm.get('mobile')?.hasError('pattern')">
                            Enter a valid 10-digit mobile number
                        </span>
                    </p>
                    <p class="text-xs text-gray-500 mt-1">
                        OTP will be sent to this number
                    </p>
                </div>

                <!-- Email -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Email Address <span class="text-red-500">*</span>
                    </label>
                    <input type="email" formControlName="email" class="w-full rounded-xl border border-gray-300 px-4 py-3
               text-gray-900 bg-white
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-500"
                        *ngIf="personalForm.get('email')?.touched && personalForm.get('email')?.errors">
                        <span *ngIf="personalForm.get('email')?.hasError('required')">
                            Email is required
                        </span>
                        <span *ngIf="personalForm.get('email')?.hasError('email')">
                            Enter a valid email address
                        </span>
                    </p>
                </div>

            </div>

            <div class="grid grid-cols-1 mt-10 md:grid-cols-2 gap-6">

                <!-- Password -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Password <span class="text-red-500">*</span>
                    </label>

                    <div class="relative">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="w-full rounded-xl border border-gray-300 px-4 py-3 pr-10
               focus:outline-none focus:ring-2 focus:ring-blue-500">

                        <i class="bi cursor-pointer absolute right-4 top-1/2 -translate-y-1/2 text-gray-500"
                            [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showPassword = !showPassword">
                        </i>
                    </div>

                    <!-- Password errors -->
                    <p class="text-xs text-red-500 mt-1"
                        *ngIf="personalForm.get('password')?.touched && personalForm.get('password')?.invalid">
                        Password must be at least 8 characters, include uppercase, lowercase, number & special
                        character.
                    </p>
                </div>

                <!-- Confirm Password -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Confirm Password <span class="text-red-500">*</span>
                    </label>

                    <div class="relative">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                            class="w-full rounded-xl border border-gray-300 px-4 py-3 pr-10
               focus:outline-none focus:ring-2 focus:ring-blue-500">

                        <i class="bi cursor-pointer absolute right-4 top-1/2 -translate-y-1/2 text-gray-500"
                            [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
                            (click)="showConfirmPassword = !showConfirmPassword">
                        </i>
                    </div>

                    <!-- Password mismatch error -->
                    <p class="text-xs text-red-500 mt-1" *ngIf="personalForm.errors?.['passwordMismatch'] 
         && personalForm.get('confirmPassword')?.touched">
                        Passwords do not match
                    </p>
                </div>

            </div>


            <!-- Info Box -->
            <div class="mt-6 rounded-xl border border-blue-200 bg-blue-50 p-4 flex gap-3">
                <i class="bi bi-info-circle-fill text-blue-600 text-lg mt-0.5"></i>
                <p class="text-sm text-blue-700">
                    Your mobile number will be used for OTP verification and important notifications.
                    Email will be used for official communications and document delivery.
                </p>
            </div>

            <!-- Next Button -->
            <div class="flex justify-end mt-10">
                <button type="button" (click)="next()" [disabled]="personalForm.invalid" class="flex items-center gap-2 rounded-xl px-8 py-3 text-white font-medium
             bg-blue-600 hover:bg-blue-700
             disabled:opacity-50 disabled:cursor-not-allowed">
                    Next
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>

        </form>

        <!-- STEP 2 -->
        <form *ngIf="currentStep === 2" [formGroup]="identityForm">

            <h2 class="text-xl font-semibold mb-6">Identity Verification</h2>

            <!-- ID Proof Type -->
            <div class="mb-6">
                <label class="block text-sm font-medium text-gray-700 mb-1">
                    ID Proof Type <span class="text-red-500">*</span>
                </label>

                <div class="relative">
                    <select formControlName="idProofType" class="w-full appearance-none rounded-xl border border-gray-300 bg-white px-4 py-3 pr-10
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                        <option value="">Select One</option>
                        <option value="AADHAAR">Aadhaar</option>
                        <option value="PAN">PAN</option>
                        <option value="VOTER_ID">Voter ID</option>
                        <option value="DRIVING_LICENSE">Driving License</option>
                    </select>

                    <i class="bi bi-chevron-down absolute right-4 top-1/2 -translate-y-1/2 text-gray-500"></i>
                </div>

                <p class="text-xs text-red-500 mt-1"
                    *ngIf="identityForm.get('idProofType')?.touched && identityForm.get('idProofType')?.invalid">
                    ID Proof Type is required
                </p>
            </div>

            <!-- ID Proof Number -->
            <div class="mb-6">
                <label class="block text-sm font-medium text-gray-700 mb-1">
                    ID Proof Number <span class="text-red-500">*</span>
                </label>
                <input type="text" formControlName="idProofNumber" class="w-full rounded-xl border border-gray-300 px-4 py-3
             focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <!-- Upload File -->
            <div class="mb-6">
                <label class="block text-sm font-medium text-gray-700 mb-2">
                    Upload ID Proof <span class="text-red-500">*</span>
                </label>

                <!-- Hidden file input -->
                <input #fileInput type="file" class="hidden" accept=".jpg,.jpeg,.png,.pdf"
                    (change)="onFileSelected($event)" />

                <!-- Choose file button -->
                <button type="button" (click)="openFilePicker(fileInput)" class="flex items-center gap-2 rounded-xl border border-gray-300 px-4 py-3
             hover:bg-blue-600 bg-blue-500 text-white">
                    <i class="bi bi-upload"></i>
                    Choose File
                </button>

                <!-- Selected file name -->
                <p class="text-sm text-green-600 mt-2" *ngIf="selectedFileName">
                    Selected: {{ selectedFileName }}
                </p>

                <p class="text-xs text-red-500 mt-1"
                    *ngIf="identityForm.get('idProofFile')?.touched && identityForm.get('idProofFile')?.invalid">
                    ID Proof file is required
                </p>
            </div>

            <!-- Buttons -->
            <div class="flex justify-between mt-8">
                <button type="button" (click)="back()"
                    class="rounded-xl border border-gray-300 px-6 py-2 text-gray-700 hover:bg-gray-100">
                    Back
                </button>

                <button type="button" (click)="next()" [disabled]="identityForm.invalid" class="flex items-center gap-2 rounded-xl px-8 py-3 text-white font-medium
             bg-blue-600 hover:bg-blue-700
             disabled:opacity-50 disabled:cursor-not-allowed">
                    Next
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>

        </form>

        <!-- STEP 3 -->
        <form *ngIf="currentStep === 3" [formGroup]="addressForm">
            <h2 class="text-2xl font-semibold text-gray-900">Address</h2>
            <p class="text-sm text-gray-500 mb-8">Step 3 of 3</p>

            <!-- Row 1 -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Door/Plot No. <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="doorNo" class="w-full rounded-xl border border-gray-300 bg-white px-4 py-3
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-600"
                        *ngIf="addressForm.get('doorNo')?.touched && addressForm.get('doorNo')?.errors">
                        Door/Plot No must be 3–50 characters
                    </p>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Street/Area <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="street" class="w-full rounded-xl border border-gray-300 bg-white px-4 py-3
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-600"
                        *ngIf="addressForm.get('street')?.touched && addressForm.get('street')?.errors">
                        Street/Area must be 3–50 characters
                    </p>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Mandal <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="mandal" class="w-full rounded-xl border border-gray-300 bg-white px-4 py-3
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-600"
                        *ngIf="addressForm.get('mandal')?.touched && addressForm.get('mandal')?.errors">
                        Mandal must be 3–50 characters
                    </p>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        District <span class="text-red-500">*</span>
                    </label>
                    <div class="relative">
                        <select formControlName="district" class="w-full appearance-none rounded-xl border border-gray-300 bg-white px-4 py-3
                 pr-10 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                            <option value="">Select District</option>
                            <option>Khammam</option>
                            <option>Hyderabad</option>
                            <option>Warangal</option>
                        </select>
                        <i class="bi bi-chevron-down absolute right-4 top-1/2 -translate-y-1/2 text-gray-500"></i>
                        <p class="error text-red-600"
                            *ngIf="addressForm.get('district')?.touched && addressForm.get('district')?.invalid">
                            District is required
                        </p>
                    </div>
                </div>
            </div>

            <!-- Pincode -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Village <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="village" class="w-full rounded-xl border border-gray-300 bg-white px-4 py-3
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-600"
                        *ngIf="addressForm.get('village')?.touched && addressForm.get('village')?.errors">
                        Village must be 3–50 characters
                    </p>
                </div>
                <div class="mb-8">
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Pincode <span class="text-red-500">*</span>
                    </label>
                    <input type="text" formControlName="pincode" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                        class="input" (keypress)="allowOnlyNumbers($event)" class="w-full rounded-xl border border-gray-300 bg-white px-4 py-3
               focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <p class="error text-red-600"
                        *ngIf="addressForm.get('pincode')?.touched && addressForm.get('pincode')?.errors">
                        Enter valid 6-digit pincode
                    </p>
                </div>
            </div>
            <!-- Terms -->
            <div>
                <div class="mt-6 flex items-start gap-2">
                    <input type="checkbox" formControlName="terms">
                    <p class="text-sm">
                        I accept the <span class="text-blue-600">Terms & Conditions</span>
                    </p>
                </div>
                <p class="error text-red-600"
                    *ngIf="addressForm.get('terms')?.touched && addressForm.get('terms')?.invalid">
                    You must accept Terms & Conditions
                </p>
            </div>


            <div class="flex justify-between mt-8">
                <button type="button" (click)="back()" class="rounded-xl border border-gray-300 px-6 py-2 text-gray-700
             hover:bg-gray-100">
                    Back
                </button>
                <button type="button" (click)="completeRegistration()" [disabled]="addressForm.invalid" class="bg-green-600 text-white px-6 py-3 rounded-xl
             disabled:opacity-50 disabled:cursor-not-allowed">
                    <i class="bi bi-check-circle mr-1"></i>
                    Complete Registration
                </button>
            </div>
        </form>

    </div>