<div class="min-h-screen bg-slate-100 p-4 md:p-6">
    <div class="mx-auto ">

        <div class="bg-white rounded-2xl shadow border border-gray-200 p-6">

            <div class="space-y-6">

                <!-- EVENT LOOP -->
                <div *ngFor="let timeline of timelineData(); let last = last" class="flex gap-4 items-start relative">

                    <!-- ICON COLUMN -->
                    <div class="flex flex-col items-center relative">

                        <!-- ICON CIRCLE -->
                        <div class="w-10 h-10 rounded-full flex items-center bg-green-300 justify-center z-10" >
                            <i class="bi bi-check2-circle text-2xl"></i>
                        </div>

                        <!-- VERTICAL LINE (touches border) -->
                        <div *ngIf="!last" class="w-px h-12 bg-green-400 absolute top-10"></div>

                    </div>


                    <!-- CONTENT -->
                    <div class="flex-1">
                        <div class="bg-white rounded-xl border border-gray-200 shadow-sm px-6 py-4">
                            <div class="flex justify-between items-start">
                                <div>
                                    <p class="font-medium text-gray-900">{{ timeline.action }}</p>
                                    <p class="text-sm text-gray-500 mt-1">
                                        By: {{ timeline.name }} ({{ timeline.role }})
                                    </p>
                                </div>

                                <div class="text-right text-xs text-gray-500">
                                    <p>{{ timeline.date }}</p>
                                    <p>{{ timeline.timestamp }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>